{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>xMusixscore.com</h1>

<p>{% if genre %}Genre: {{genre}}{% endif %}<br>
{% if performer %}performer: {{performer}}{% endif %}<br>
{% if cd %}CD: {{cd}}{% endif %}</p>

<form method="GET" action="/browse">
	<label>Genre</label>
	<select name="genre" onchange="this.form.submit()">
		{% if genre %}
			<option value="{{genre}}" selected="true">{{genre}}</option>
		{% else %}
		<option value="">-</option>
		{% endif %}
		{% for g in genre_list%}
		<option value="{{g.id}}">{{g}}</option>
		{% endfor %}
	</select>
	<br>
	<label>Performer</label>
	<select name="performer"  onchange="this.form.submit()">
		{% if performer %}
			<option value="{{performer}}" selected="true">{{performer}}</option>
		{% else %}
		<option value="">-</option>
		{% endif %}
		{% for p in performer_list %}
		<option value="{{p.id}}">{{p}}</option>
		{% endfor %}
	</select>
	<br>
	<label>CD</label>
	<select name="cd"  onchange="this.form.submit()">
		{% if cd %}
			<option value="{{cd}}" selected="true">{{cd}}</option>
		{% else %}
		<option value="">-</option>
		{% endif %}
		{% for c in cd_list %}
		<option value="{{c.id}}">{{c}}</option>
		{% endfor %}
	</select>
	<br>
</form>
<form method="POST" action="">
	{% csrf_token%}
	<label>Songs</label>
	<select multiple name="songs">
		<option value="">-</option>
		{% for s in songs_list %}
		<option value="{{s.id}}">{{s}}</option>
		{% endfor %}
	</select>
	<br>
	<input type="submit" value="Add to Cart">
</form>
<a href="{% url 'clear' %}">Clear Cart?</a>

<table>
	<tr>
		<td>SONGS IN CART</td>
	</tr>
	{% for songs in cart %}
	<tr>
		<td>{{songs.song}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}